*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 350px;
    height: 200px;
}

body{
    background: #585c68 ;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
}
.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}
.semi-bold{
    font-weight: 500;
    font-size: 16px;
}
.resume{
    width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto ;
}
.resume .resume_left{
    width: 350px ;
    background: black;
}
.resume .resume_left, .resume_profile img{
    height: 100%;
}
 .resume_content{
    padding: 0px 25px ;
}
.resume .title{
    margin-bottom: 20px;
}
.resume .resume_left .bold{    
    color: #fff;
}
.resume .resume_left .regular{
    color: #fff;
}
.resume_item{
    padding: 25px 0;
    border-bottom:2px solid white; 
}
.resume_item:last-child{
    border-bottom: 0px;
}
.resume_left ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.resume_left ul li:last-child{
    margin-bottom: 0;
}
.resume_left ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: brown;
    border-radius: 50%;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}
.icon i{
    position: absolute;
    top: 50% ;
    left: 50%;
    transform: translate(-50%,-50%);
}
.resume_left ul li, .data{
    color: white;
}
.resume_skills ul li{
    color:Yellow;
    justify-content: space-between;
}
.skill_name{
    width: 25%;
}
 .skill_progress{
    width: 60%;
    margin: 0 5px;
    height: 5px;
    background: brown;
    position: relative;
}
.skill_per{
    width: 15%;
}
.skill_progress span{
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: #fff; 
}
.resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}
.resume_right .bold{
    color: black;
}
.resume_work ul, .resume_education ul, .resume_about p{
   padding-left: 70px;
   padding: 10px;
   overflow: hidden;
}
.resume_right ul li{
    position: relative;
}
.date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom:15px ;
    padding-left: 10px;
}
.info{
   margin-bottom: 20px; 
   padding-left: 10px;
}
.resume_right ul li:last-child,.info{
  margin-bottom: 0;
}
.resume_work ul li:before, .resume_education ul li:before{
  content: "";
  position: absolute;
  top: 3px;
  left: -10px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  border:2px solid brown ;
}
.resume_work ul li:after, .resume_education ul li:after{
 content: "";
  position: absolute;
  top: 11px;
  left: -6px;
  width: 2px;
  height: 140px;
  background: Black
}
 .resume_hobby p{
     margin-bottom: 30px;
 }
 button{
  font-size: 25px;
  padding: 5px 20px;
  margin: 0px 0 60px 280px;
  background-color: brown;
  border: none;
  outline: none;
  color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgb(0, 0, 5);
  cursor: pointer;
 }
 button:hover{
  background-color: black;
  box-shadow: 0 0 30px rgb(0, 0, 5);
 }
 @media print{
  body*{
    visibility: hidden;
  }
 }